/* ENTIER CONTAINER */
.login-sign-up-container {
  /* DIMENSIONS AND STYLE */
  background-color: var(--dark-grey);
  border-radius: 0.4rem;
  height: 60vh;
  min-width: 40rem;

  /* INNARDS */
  padding: 0rem 1rem;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-content: center;

  position: relative;
}

.login-signup-container {
  color: white;
  /* background-color: rgb(71, 71, 71); */
  flex: 1 0 auto;
  margin: 0 1rem 0 0rem;

  /* border-radius: 1rem; */

  display: flex;
  /* height: 3rem; */
  flex-direction: column;
  justify-content: space-evenly;

  padding: 0 5rem 0 5rem;
}

.form-input {
  width: 100%;
  border: 0;
  outline: 0;
  background: transparent;
  /* border-bottom: 1px solid var(--lighter-grey); */
  color: white;
  /* padding: 0rem 0 0.5rem 0; */
  /* height: 3rem; */
  /* margin: 0 3rem; */
}

.form-input::placeholder {
  color: var(--lighter-grey);
}

.field-label {
  /* margin-bottom: 0.4rem; */
}

.icon-input-container {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: baseline; */
  flex-direction: column;
  height: 20%;
  flex: 0 0 20%;
  /* margin: 1rem 0; */
  /* height: 6rem; */
}

.input-border {
  /* display: inline-block; */
  width: 0px;
  height: 1px;
  /* flex: 0 0 1px !important; */
  background: var(--light-grey);
  /* position: relative; */
  /* top: -5px; */
  -webkit-transition: all ease-in-out 0.15s;
  -o-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
  width: 100%;
  font-weight: 100;
  border: 0;
  outline: 0;
  text-emphasis: none;
  text-decoration: none;
  /* padding-left: 1rem; */
}

/* .form-input:hover,
.form-input:active,
.form-input:focus {
  outline: none;
} */

.form-input:active + .input-border,
.form-input:focus + .input-border {
  background: var(--main-color);
  /* height: 1px; */
}
/* 
.form-icon {
  color: var(--light-grey);
  margin-right: 1rem;
} */

.login-button-container {
  display: flex;
  justify-content: center;
}

.login-button {
  width: 70%;
  align-self: center;
  /* margin: 2rem; */
  outline: 0;
  border: 0;
  box-shadow: var(--main-glow);
  color: white;
  background-image: var(--main-gradient);
  height: 4rem;
  border-radius: 1rem;
  font-size: 1.8rem;
  font-weight: var(--button-font-weight);
}

.forgot-password-container {
  display: flex;
  justify-content: center;
  width: 100%;
  color: var(--lighter-grey);
}

.forgot-password-click {
  margin-left: 0.3rem;
  text-decoration: underline;
  color: var(--main-color);
}
