.login-container {
  color: white;
  /* background-color: rgb(71, 71, 71); */
  flex: 1 0 auto;
  margin: 0 1rem 2rem 1rem;
  border-radius: 1rem;
}

.login-sign-up-form-inputs {
  width: 100%;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid var(--main-color);
}

.login-sign-up-form-inputs::placeholder {
  color: white;
}

.email-field {
  padding: 0;
  margin: 1rem;
  /* height: 3rem; */
}

.password-field {
  padding: 0;
  margin: 1rem;
}

.login-button {
  width: 50%;
  margin: 2rem;
}
