.login-container {
  color: white;
  /* background-color: rgb(71, 71, 71); */
  flex: 1 0 auto;
  margin: 0 1rem 1rem 0rem;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 2rem 0 1rem;
}

.login-sign-up-form-inputs {
  width: 100%;
  border: 0;
  outline: 0;
  background: transparent;
  /* border-bottom: 1px solid var(--lighter-grey); */
  color: white;
  /* padding: 0rem 0 0 1rem; */
  /* height: 3rem; */
  /* margin: 0 3rem; */
}

.login-sign-up-form-inputs::placeholder {
  color: var(--lighter-grey);
}

.field-label {
  margin-bottom: 0.4rem;
}

.icon-input-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* padding: 1rem 0 0rem 0; */
}

.email-field,
.password-field {
  padding: 0;
  /* margin: 1rem; */
  /* display: inline-block; */
  /* height: 3rem; */
}

.input-border {
  /* display: inline-block; */
  width: 0px;
  height: 1px;
  background: var(--light-grey);
  /* position: relative; */
  /* top: -5px; */
  -webkit-transition: all ease-in-out 0.15s;
  -o-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
  width: 100%;
  /* padding-left: 1rem; */
}

/* .login-sign-up-form-inputs:hover,
.login-sign-up-form-inputs:active,
.login-sign-up-form-inputs:focus {
  outline: none;
} */

.login-sign-up-form-inputs:hover + .input-border,
.login-sign-up-form-inputs:active + .input-border,
.login-sign-up-form-inputs:focus + .input-border {
  background: var(--main-color);
  height: 1px;
}

.form-icon {
  color: var(--light-grey);
  margin-right: 1rem;
}

.login-button-container {
  display: flex;
  justify-content: center;
}

.login-button {
  width: 70%;
  align-self: center;
  /* margin: 2rem; */
  outline: 0;
  border: 0;
  box-shadow: var(--main-glow);
  color: white;
  background-image: var(--main-gradient);
  height: 4rem;
  border-radius: 1rem;
  font-size: 1.8rem;
  font-weight: var(--button-font-weight);
}

.forgot-password-container {
  display: flex;
  justify-content: center;
  width: 100%;
  color: var(--lighter-grey);
}

.forgot-password-click {
  margin-left: 0.3rem;
  text-decoration: underline;
  color: var(--main-color);
}
