:root {
  --main-color: #ff5613;
  --secondary-color: #e44100;
  --light-grey: rgb(109, 109, 109);
  --lighter-grey: rgb(189, 189, 189);
  --dark-grey: rgb(41, 41, 41);
  --main-gradient: linear-gradient(to right, #e44100, #ff5613);
  --main-glow: 0 0 0.5rem #ff5613;
  --button-font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body,
button,
input {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}
